instance.cfg
minecraft/options.txt
minecraft/logs/
minecraft/config/
minecraft/saves/
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/server-resource-packs/
minecraft/downloads/
minecraft/screenshots/

minecraft/shaderpacks/*
!minecraft/shaderpacks/*.zip

minecraft/emi.json
minecraft/local/

minecraft/journeymap/
minecraft/waypoints/